ai-hr-assistant-workflow.json
{
  "name": "HR-ассистент",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -1312,
        0
      ],
      "id": "18316da8-9129-44a7-a58c-b83e39526614",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": " ",
          "name": "gmail_oauth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -720,
        0
      ],
      "id": "83c2da77-38be-413b-adee-ec58e7437a72",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "Name",
              "description": "Полное имя кандидата",
              "required": true
            },
            {
              "name": "Key",
              "description": "full_name",
              "required": true
            },
            {
              "name": "Type",
              "description": "String",
              "required": true
            },
            {
              "name": "пол кандидата",
              "description": "sex"
            },
            {
              "name": "дата рождения",
              "type": "date",
              "description": "birth_date",
              "required": true
            },
            {
              "name": "контактный номер телефона",
              "description": "contact_phone",
              "required": true
            },
            {
              "name": "электронная почта",
              "description": "email",
              "required": true
            },
            {
              "name": "страна проживания",
              "description": "country"
            },
            {
              "name": "город проживания",
              "description": "city"
            },
            {
              "name": "гражданство",
              "description": "citizenship"
            },
            {
              "name": "желаемая должность",
              "description": "position",
              "required": true
            },
            {
              "name": "желаемая занятость",
              "description": "employment"
            },
            {
              "name": "опыт работы в годах",
              "type": "number",
              "description": "experience"
            },
            {
              "name": "массив навыков и технологий",
              "description": "Массив навыков и технологий. Верните все навыки в виде одной строки, разделенной запятыми и пробелом."
            },
            {
              "name": "желаемая зарплата",
              "type": "number",
              "description": "salary"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -592,
        0
      ],
      "id": "b9979509-8699-4f23-9713-db915f893863",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1C66yKKWsdUp7FgpbI6VMBZZ_kgHfyhwAxASJcz_g6hA/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Вакансии",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C66yKKWsdUp7FgpbI6VMBZZ_kgHfyhwAxASJcz_g6hA/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -384,
        224
      ],
      "id": "a6266992-12cf-4674-9065-5eb3ad2338d8",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": " ",
          "name": "google_sheets_api"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -272,
        0
      ],
      "id": "7394f707-741d-447a-a83a-7bbd255b55d8",
      "name": "Merge"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -544,
        240
      ],
      "id": "07e1bfc0-4778-4a65-919b-6afaa2f7525b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "openai_api_key"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Information Extractor').item.json.output }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Ты — матчинг-агент вакансий. Твоя задача: по данным кандидата найти подходящие вакансии из Google Sheets, аккуратно сопоставляя должность, скиллы, опыт, тип занятости, локацию/релокацию/удалёнку, уровень и ожидания по зарплате.\n\nОтносись ко всем условиям мягко: ничего не “рубим” жестко, вместо этого снижаем или повышаем итоговый балл.\n\n\n\n\nВходные данные\n\ncandidate_json — объект кандидата (как в примере ниже).\nvacancies — массив строк из Google Sheets. Каждая строка:\ntitle — значение из первого столбца;\ndescription — значение из второго столбца.\nПример структуры входа:\n\n{\n    \"full_name\": \"Полевов Евгений\",\n    \"sex\": \"муж.\",\n    \"birthday_day\": \"1995-02-07\",\n    \"contact_phone\": \"+7 (926) 483-77-31\",\n    \"email\": \"cubooks@yandex.ru\",\n    \"country\": \"Россия\",\n    \"city\": \"Москва\",\n    \"citizenship\": \"Россия\",\n    \"position\": \"Frontend-разработчик\",\n    \"employment\": \"полная занятость\",\n    \"experience\": 7,\n    \"skills\": \"Node.js, HTML5, CSS3, JavaScript, Redux, React\",\n    \"salary\": 180000\n  },\n  \"vacancies\": [\n    {\"title\": \"Frontend Developer\", \"description\": \"React, Redux, TypeScript, удаленная работа, з/п 170-200 тыс.руб., middle/senior\"},\n    {\"title\": \"React Engineer (RU/Remote)\", \"description\": \"React, hooks, Redux Toolkit, GraphQL, опыт 5+ лет, удаленка\"},\n    {\"title\": \"Full-Stack JS Developer\", \"description\": \"Node.js, React, офис в Москве, 150–180k, готовность к релокации приветствуется\"}\n  ]\n}\n\n\n\nЯзык и формат\n\nОтвечай на русском.\nВерни только JSON, без пояснительного текста.\n\n\n\nНормализация и словарь синонимов\n\nПриведи текст к lower-case, убери диакритику/пунктуацию, сделай транслитерацию при необходимости (frontend ~ фронтенд; back-end ~ backend).\nКлючевые семейства должностей (примеры; не ограничивайся ровно этими строками — используй смысловое сходство):\nfrontend: [\"frontend\", \"front-end\", \"фронтенд\", \"фронт\", \"react developer\", \"js developer\", \"javascript developer\", \"ui engineer\", \"web developer\"]\nbackend: [\"backend\", \"back-end\", \"бэкенд\", \"server-side\", \"nodejs backend\", \"golang developer\", \"java developer\"]\nfullstack: [\"fullstack\", \"full-stack\", \"фулстэк\", \"js fullstack\", \"mern\", \"node + react\"]\nmobile: [\"ios\", \"android\", \"mobile developer\", \"react native\"]\ndevops: [\"devops\", \"sre\", \"site reliability\", \"platform engineer\"]\ndata: [\"data engineer\", \"data scientist\", \"ml engineer\"]\nqa: [\"qa\", \"test engineer\", \"тестировщик\"]\nСкиллы-синонимы/объединения (не исчерпывающий список; расширяй смыслово):\njs/jscript/javascript, ts/typescript, react (hooks/rtk/next), redux (toolkit), node/node.js, html/html5, css/css3, graphql, rest, vite/webpack, jest/testing-library, spa/spa-frameworks.\n\nСтаршинство (эвристика по опыту):\n0–1 — junior; 2–4 — middle; 5–8 — senior; 9+ — lead/principal.\n\n\n\n\nПарсинг описаний\n\nИщи в тексте вакансий: remote/удаленно, офис/гибрид, город/страна, релокация, з/п, язык, уровень.\nЕсли что-то не указано — считай нейтральным (не штрафуй).\n\n\n\nСкоулинг (0–100)\n\nСовпадение роли/семейства должностей — 40 баллов\nСкилл-оверлап — 30 баллов\nОпыт/уровень — 10 баллов\nТип занятости — 5 баллов\nЛокация/формат работы — 5 баллов\nЗарплатные ожидания — 5 баллов\nПрочие сигналы (язык/домен) — 5 балловПорог: 60.\n\n\n\nПравила\n\nНе отбрасывай жестко — понижай балл.\nnear_misses — 45–59.\nnotable_non_matches — ниже.\n\n\n\nВыходной формат\n\nВозвращай объект (в значениях указаны примеры):\nОтвет строго в таком формате\n\n{\n  \"candidate_summary\": {\n    \"full_name\": \"Полевов Евгений\",\n    \"position_raw\": \"Frontend-разработчик\",\n    \"position_family\": \"frontend\",\n    \"normalized_skills\": [\n      \"node\",\n      \"html\",\n      \"css\",\n      \"javascript\",\n      \"redux\",\n      \"react\"\n    ],\n    \"experience_years\": 7,\n    \"seniority\": \"senior\",\n    \"employment\": \"полная занятость\",\n    \"city\": \"москва\",\n    \"country\": \"россия\",\n    \"salary_expectation_rub_per_month\": 180000,\n    \"contants\": \"+7 (926) 483-77-31 <epolevov@emd.one>\"\n  },\n  \"matches\": [\n    {\n      \"row_number\": 2,\n      \"title\": \"Frontend-разработчик (React/TypeScript) — Москва\",\n      \"family\": \"frontend\",\n      \"parsed\": {\n        \"required_skills\": [\n          \"javascript\",\n          \"typescript\",\n          \"react\",\n          \"redux\",\n          \"jest\",\n          \"testing library\",\n          \"rest\",\n          \"graphql (приветствуется)\",\n          \"vite\",\n          \"webpack\",\n          \"ci/cd\"\n        ],\n        \"nice_to_have\": [\n          \"tRPC\",\n          \"mono-repo\",\n          \"storybook\",\n          \"css-in-js\",\n          \"d3/recharts/echarts\",\n          \"realtime\"\n        ],\n        \"job_level\": \"middle/senior\",\n        \"salary_min_rub\": 150000,\n        \"salary_max_rub\": 180000,\n        \"currency\": \"RUB\",\n        \"format\": \"офис / гибрид (2–3 дня в неделю)\",\n        \"location\": \"москва\",\n        \"remote\": \"частично\",\n        \"relocation\": \"не указано\",\n        \"language_requirements\": \"английский — technical (intermediate+)\"\n      },\n      \"score\": 1,\n      \"breakdown\": {\n        \"role_match_40\": 40,\n        \"skill_overlap_30\": 22,\n        \"experience_10\": 10,\n        \"employment_5\": 5,\n        \"location_5\": 5,\n        \"salary_5\": 5,\n        \"other_signals_5\": 3\n      },\n      \"reasons\": [\n        \"Прямая совпадающая семья вакансии — frontend; кандидат указан как Frontend-разработчик.\",\n        \"Сильный стек-оверлап: react, redux, javascript, плюс вспомогательные фронтенд-скиллы (html, css, node).\",\n        \"Опыт 7 лет соответствует уровню middle/senior, указанный в вакансии.\",\n        \"Формат и локация совпадают: Москва, гибрид/частичная удалёнка; кандидат в Москве и ищет полную занятость.\",\n        \"Зарплатные ожидания кандидата (180k) попадают в верхнюю границу указанного диапазона (150–180k).\"\n      ],\n      \"risks\": [\n        \"В вакансии обязательны TypeScript и опыт с ним; в профиле кандидата TypeScript не указан — возможна необходимость апскейла.\",\n        \"Требуются тестовые инструменты (Jest/Testing Library) и опыт с инфраструктурой сборки; в резюме это явно не указано.\",\n        \"Требуется технический английский (intermediate+) — уровень кандидата по английскому неизвестен.\"\n      ]\n    }\n  ],\n  \"near_misses\": [\n    {\n      \"row_number\": 3,\n      \"title\": \"Backend-разработчик (Node.js / TypeScript / PostgreSQL) — Москва\",\n      \"family\": \"backend\",\n      \"parsed\": {\n        \"required_skills\": [\n          \"node\",\n          \"typescript\",\n          \"postgresql\",\n          \"microservices\",\n          \"rabbitmq/nats/kafka\",\n          \"docker\",\n          \"ci/cd\",\n          \"kubernetes (плюс)\",\n          \"jest\"\n        ],\n        \"nice_to_have\": [\n          \"graphql\",\n          \"fastify\",\n          \"prometheus/grafana\"\n        ],\n        \"job_level\": \"senior\",\n        \"salary_min_rub\": 300000,\n        \"salary_max_rub\": 400000,\n        \"currency\": \"RUB\",\n        \"format\": \"офис / гибрид (2–3 дня)\",\n        \"location\": \"москва\",\n        \"remote\": \"нет (гибрид)\",\n        \"relocation\": \"не указано\",\n        \"language_requirements\": \"английский — technical\"\n      },\n      \"score\": 5,\n      \"breakdown\": {\n        \"role_match_40\": 10,\n        \"skill_overlap_30\": 8,\n        \"experience_10\": 10,\n        \"employment_5\": 5,\n        \"location_5\": 5,\n        \"salary_5\": 5,\n        \"other_signals_5\": 2\n      },\n      \"reasons\": [\n        \"Кандидат обладает релевантным опытом с Node.js и общим бэкэнд/JS-навыком — есть пересечение по стеку.\",\n        \"Опыт 7 лет соответствует senior-уровню, который требуется вакансией.\",\n        \"Локация и формат (Москва, гибрид) совпадают; вакансия полнотекущая и подходит по занятости.\"\n      ],\n      \"risks\": [\n        \"Вакансия сильно бэкенд-ориентирована (Postgres, брокеры сообщений, Kubernetes) — в резюме кандидата такие технологии не указаны.\",\n        \"TypeScript в вакансии ожидается как обязательный навык — кандидат его не указал.\",\n        \"Роль отличается по направлению (backend vs frontend) — возможна большая зона обучения и переключения.\",\n        \"Английский и системные навыки для роли платформенного бэкенда неизвестны.\"\n      ]\n    }\n  ],\n  \"notable_non_matches\": [\n    {\n      \"row_number\": 4,\n      \"title\": \"Project Manager (IT / Продуктовая команда) — Москва\",\n      \"family\": \"manager\",\n      \"parsed\": {\n        \"required_skills\": [\n          \"project management\",\n          \"agile/scrum/kanban\",\n          \"jira\",\n          \"confluence\",\n          \"communication\",\n          \"planning\"\n        ],\n        \"nice_to_have\": [\n          \"product owner\",\n          \"scrum master\",\n          \"okrs\"\n        ],\n        \"job_level\": \"middle/senior\",\n        \"salary_min_rub\": 200000,\n        \"salary_max_rub\": 250000,\n        \"currency\": \"RUB\",\n        \"format\": \"гибрид\",\n        \"location\": \"москва\",\n        \"remote\": \"частично\",\n        \"relocation\": \"не указано\",\n        \"language_requirements\": \"английский — intermediate+\"\n      },\n      \"score\": 10,\n      \"breakdown\": {\n        \"role_match_40\": 5,\n        \"skill_overlap_30\": 3,\n        \"experience_10\": 3,\n        \"employment_5\": 5,\n        \"location_5\": 5,\n        \"salary_5\": 4,\n        \"other_signals_5\": 2\n      },\n       \"reasons\": [\n        \"Вакансия — Project Manager; основной профиль кандидата — frontend-разработка, поэтому по роли есть сильное расхождение.\",\n        \"Локация и формат подходят (Москва, гибрид), и есть достаточный общий опыт работы в IT (7 лет).\"\n      ],\n      \"risks\": [\n        \"Кандидат не заявляет опыт управления проектами, Scrum/Kanban или работы с Jira/Confluence — ключевые требования вакансии.\",\n        \"Резюме ориентировано на технические навыки, а не на soft/PM-компетенции — высокий риск несоответствия.\",\n        \"Вакансия ожидает опыт в планировании и коммуникациях с заказчиком; таких примеров в данных кандидата нет.\"\n      ]\n}\n\n\nАлгоритм\n\nНормализуй данные кандидата.\nТокенизируй вакансии.\nДля каждой — оцени роль, стек, формат, зарплату.\nПосчитай score, reasons, risks.\nВерни JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -128,
        0
      ],
      "id": "665cae1f-09d4-422b-ab6f-ada29634942c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 1000,
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          },
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -144,
        224
      ],
      "id": "3717877d-dee8-4786-b657-25bca9f75f80",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "openai_api_key"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1C66yKKWsdUp7FgpbI6VMBZZ_kgHfyhwAxASJcz_g6hA/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Вакансии",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C66yKKWsdUp7FgpbI6VMBZZ_kgHfyhwAxASJcz_g6hA/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -48,
        224
      ],
      "id": "0da4137a-c03b-4f81-b951-d10c20e4aa99",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": " ",
          "name": "google_sheets_api"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"candidate_summary\": {\n    \"full_name\": \"Иванов Иван\",\n    \"position_raw\": \"Frontend-разработчик\",\n    \"position_family\": \"frontend\",\n    \"normalized_skills\": [\"javascript\", \"react\", \"html\", \"css\"],\n    \"experience_years\": 3,\n    \"seniority\": \"middle\",\n    \"employment\": \"полная занятость\",\n    \"city\": \"москва\",\n    \"country\": \"россия\",\n    \"salary_expectation_rub_per_month\": 150000,\n    \"contacts\": \"+7 (999) 123-45-67 <ivanov@example.com>\"\n  },\n  \"matches\": [\n    {\n      \"row_number\": 2,\n      \"title\": \"Frontend Developer (React)\",\n      \"family\": \"frontend\",\n      \"parsed\": {\n        \"required_skills\": [\"javascript\", \"react\", \"typescript\"],\n        \"nice_to_have\": [\"redux\", \"jest\"],\n        \"job_level\": \"middle\",\n        \"salary_min_rub\": 120000,\n        \"salary_max_rub\": 180000,\n        \"currency\": \"RUB\",\n        \"format\": \"гибрид\",\n        \"location\": \"москва\",\n        \"remote\": \"частично\",\n        \"relocation\": \"не указано\",\n        \"language_requirements\": \"английский — intermediate\"\n      },\n      \"score\": 85,\n      \"breakdown\": {\n        \"role_match_40\": 35,\n        \"skill_overlap_30\": 25,\n        \"experience_10\": 8,\n        \"employment_5\": 5,\n        \"location_5\": 5,\n        \"salary_5\": 4,\n        \"other_signals_5\": 3\n      },\n      \"reasons\": [\"Совпадение должности\", \"Подходящий стек технологий\"],\n      \"risks\": [\"Нет опыта с TypeScript\"]\n    }\n  ],\n  \"near_misses\": [\n    {\n      \"row_number\": 3,\n      \"title\": \"Backend Developer (Node.js)\",\n      \"family\": \"backend\",\n      \"parsed\": {\n        \"required_skills\": [\"node\", \"javascript\", \"postgresql\"],\n        \"nice_to_have\": [\"docker\", \"kubernetes\"],\n        \"job_level\": \"middle\",\n        \"salary_min_rub\": 140000,\n        \"salary_max_rub\": 160000,\n        \"currency\": \"RUB\",\n        \"format\": \"офис\",\n        \"location\": \"москва\",\n        \"remote\": \"нет\",\n        \"relocation\": \"не указано\",\n        \"language_requirements\": \"английский — basic\"\n      },\n      \"score\": 45,\n      \"breakdown\": {\n        \"role_match_40\": 10,\n        \"skill_overlap_30\": 15,\n        \"experience_10\": 8,\n        \"employment_5\": 5,\n        \"location_5\": 5,\n        \"salary_5\": 4,\n        \"other_signals_5\": 2\n      },\n      \"reasons\": [\"Частичное совпадение по стеку\", \"Подходит по локации\"],\n      \"risks\": [\"Не хватает опыта в backend\"]\n    }\n  ],\n  \"notable_non_matches\": [\n    {\n      \"row_number\": 4,\n      \"title\": \"Data Scientist\",\n      \"family\": \"data\",\n      \"parsed\": {\n        \"required_skills\": [\"python\", \"machine learning\", \"sql\"],\n        \"nice_to_have\": [\"pandas\", \"numpy\"],\n        \"job_level\": \"middle\",\n        \"salary_min_rub\": 200000,\n        \"salary_max_rub\": 250000,\n        \"currency\": \"RUB\",\n        \"format\": \"гибрид\",\n        \"location\": \"москва\",\n        \"remote\": \"частично\",\n        \"relocation\": \"не указано\",\n        \"language_requirements\": \"английский — advanced\"\n      },\n      \"score\": 10,\n      \"breakdown\": {\n        \"role_match_40\": 0,\n        \"skill_overlap_30\": 5,\n        \"experience_10\": 3,\n        \"employment_5\": 5,\n        \"location_5\": 5,\n        \"salary_5\": 4,\n        \"other_signals_5\": 2\n      },\n      \"reasons\": [\"Полное несовпадение по роли\"],\n      \"risks\": [\"Отсутствие необходимых навыков\"]\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        48,
        224
      ],
      "id": "5b6f3288-1a00-4292-9363-bd27526a9b6b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1C66yKKWsdUp7FgpbI6VMBZZ_kgHfyhwAxASJcz_g6hA/edit?gid=1593298553#gid=1593298553",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1593298553,
          "mode": "list",
          "cachedResultName": "Кандидаты",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C66yKKWsdUp7FgpbI6VMBZZ_kgHfyhwAxASJcz_g6hA/edit#gid=1593298553"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "ФИО",
              "displayName": "ФИО",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Позиция",
              "displayName": "Позиция",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Навыки",
              "displayName": "Навыки",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Опыт",
              "displayName": "Опыт",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Уровень",
              "displayName": "Уровень",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Город",
              "displayName": "Город",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Страна",
              "displayName": "Страна",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Зарплата",
              "displayName": "Зарплата",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Результат matching",
              "displayName": "Результат matching",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        400,
        -80
      ],
      "id": "32c6b787-3fe5-43a2-b87b-852b58ae153f",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": " ",
          "name": "google_sheets_api"
        }
      }
    },
    {
      "parameters": {
        "content": "### Получение сообщения из почты",
        "height": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1376,
        -144
      ],
      "id": "23048463-a282-4040-baf1-42a2538a8a0b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### Подготовка данных",
        "height": 560,
        "width": 608
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -784,
        -144
      ],
      "id": "acecebbc-3cd9-49a7-a718-0196102c93cd",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### Есть ли у нас такая вакансия",
        "height": 560,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -160,
        -144
      ],
      "id": "52def48d-8fec-442f-8fbd-3bc4922dcb88",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "### Принимаем решение об отказе или приеме",
        "height": 320,
        "width": 592
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        176,
        96
      ],
      "id": "0eab2987-e8cf-449e-b8a8-df3edb6aea76",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "### Сохранение информации в БД",
        "height": 224,
        "width": 592
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        176,
        -144
      ],
      "id": "7c47f7d1-a5c5-47cf-a36f-9a55982c47d4",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b6f6c21a-6c75-454b-8097-3669d8ba7572",
              "leftValue": "={{ $json.output.matches.filter(item => item.score).length >= 1 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "37235029-a068-40e2-9690-0e3e8913b344",
              "leftValue": "={{ $json.output.matches.filter(item => item.score).length >= 1 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        320,
        192
      ],
      "id": "3e3094f6-36bb-4a69-8c5f-4c0ac0636386",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.from.value[0].address }}",
        "message": "Здравствуйте! Ваша заявка была рассмотрена нашими сотрудниками и она нам понравилась. В скором времени мы с вами свяжемся для проведения интервью.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        480,
        112
      ],
      "id": "18030291-534d-40af-afab-4db13026d3fc",
      "name": "Send a message",
      "webhookId": "b889655b-4926-44b3-b763-fbe68292b88a",
      "credentials": {
        "gmailOAuth2": {
          "id": " ",
          "name": "gmail_oauth2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.from.value[0].address }}",
        "message": "Здравствуйте! К сожалению, мы вынуждены вам отказать, так как у нас нет подходящих для вас вакансий на данный момент.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        480,
        288
      ],
      "id": "2537ed08-c1e4-471b-8af6-0b41361f2bb1",
      "name": "Send a message1",
      "webhookId": "9779831e-20fa-414c-9176-051650e1995c",
      "credentials": {
        "gmailOAuth2": {
          "id": " ",
          "name": "gmail_oauth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.messageId }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        640,
        192
      ],
      "id": "bff36efb-20f1-4c99-be36-4949743875c7",
      "name": "Add label to message",
      "webhookId": "39f13e44-4c08-4a78-8325-c45b2dbd5208",
      "credentials": {
        "gmailOAuth2": {
          "id": " ",
          "name": "gmail_oauth2"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "hours"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        192,
        192
      ],
      "id": "02fe40a0-d774-4a04-8235-9414f6d6987e",
      "name": "Wait",
      "webhookId": "aa851899-b571-4bbd-93dd-ac053c31f103"
    },
    {
      "parameters": {
        "content": "### Проверка дубликатов (ищет email в Google Sheets)",
        "height": 560,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1120,
        -144
      ],
      "id": "9928444d-b617-4a4b-8dc4-99eef51f77c1",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "9cfa498b-6c40-4c43-80b2-311322258cbf",
              "leftValue": "={{ $json.length }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -928,
        0
      ],
      "id": "e9c99c0c-74d5-4eff-a021-dde85807d40e",
      "name": "Check Candidate Existence"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1C66yKKWsdUp7FgpbI6VMBZZ_kgHfyhwAxASJcz_g6hA/edit?gid=1593298553#gid=1593298553",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1593298553,
          "mode": "list",
          "cachedResultName": "Кандидаты",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C66yKKWsdUp7FgpbI6VMBZZ_kgHfyhwAxASJcz_g6hA/edit#gid=1593298553"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $('Gmail Trigger').item.json.from.value[0].address }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1088,
        0
      ],
      "id": "716099a8-ff54-45af-a631-fd255b357f85",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": " ",
          "name": "google_sheets_api"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Candidate Existence": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Check Candidate Existence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1e8af905-4075-4620-b6b3-2330f44f39d7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "58cb9cae12e91a53c810f1b6df3c24c13ab677cf63eebb4c60c2482d8933fb16"
  },
  "id": "RGNM4oth0AcxAyJJ",
  "tags": []
}